html {
  background: rgb(140, 211, 140);
}
h1 {
  text-align: center;
}
.paragraphs {
  text-align: center;
}
a {
  margin: 5px;
}
.croissant-picture {
  border-radius: 5px;
  display: block;
  margin: 40px auto;
  max-width: 100%;
}
